.venv/
.idea/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info
.env
.coverage
.pre-commit-config.yaml
.pytest_cache/

# Build & egg
build/
dist/
*.egg
*.egg-info/
src/*.egg-info/
src/**/*.egg-info/

# Data & Models & Logs
index.pkl
chroma_db/
.docchat/
*.db
*.sqlite
*.log
*.csv

# Testing Dummies
htmlcov/
.tox/
.nox/
coverage.xml
my_docs/
test_data.json
.agent/

.mypy_cache/
.pytest_cache/
.ruff_cache/
.vscode/

.venv
.venv_linux
.venv_win
